body {
    background-color: #333333;
    color: #eeeeee;
}

a:link {
    color: #eeeeee;
}

a:visited {
    color: #eeeeee;
}

a:focus {
    color: #eeeeee;
}

a:hover {
    color: #00ff00;
}

a:active {
    color: #eeeeee;
}
